@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lora, serif;
    font-weight: 400;
}

h1,
h2 {
    font-family: Poppins, sans-serif;
    letter-spacing: normal;
    color: red;

}

#logo {
    width: 250px;
    height: 100px;
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 1000;
}

/* navigation*/

#menu {
    font-size: 120%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    margin-right: 20px;
    list-style-type: none;
}

#logo,
#menu {
    line-height: 75px;
}

#home_section {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/hero-image.jpg");
    background-position-y: 100vh;
    background-size: cover;   
}

/* hero image and presentation text*/
/* #hero-image {
    height: 600px;
    width: 100%;
} */

/* #presentation-text {
    color:black;
} */