@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Oswald:wght@300&family=Roboto&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: auto;
}


header {
    width: 100%;
    background-color: #13315c;
    position: fixed;
}

body {
    font-family: 'Cardo', serif;
    font-weight: normal;
}

#logo {
    width: 200px;
    height: auto;
    float: left;
    left: 20px;
    z-index: 1000;
}


/* navigation*/

#menu {
    font-size: 18px;
    font-weight: normal;
    list-style-type: none;
    width: 100%;
}

#menu li {
    width: 80px;
    text-align: center;
    float: right;
    margin-right: 20px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #FFFFFF;
}

nav ul li:hover {
    background-color: #76a6cd;
}

#logo,
#menu {
    line-height: 75px;
}

/* Menu - tablet media queries */
@media screen and (max-width: 1024px) {

    #logo {
        width: 175px;
        height: auto;
    }
}

/* Menu - mobile media queries */
@media screen and (max-width: 500px) {
    #menu {
        /* Reverse the items */
        display: flex;
        flex-direction: row-reverse;
        line-height: 25px;
    }

    #menu li {
        float: left;
        margin-right: 0px;
    }

    #logo {
        width: 150px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-self: center;
    }
}

/* Home page */

#home {
    background-image: url('../images/hero-image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 75px;
}


#hero-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    vertical-align: middle;
}

#hero-overlay h1 {
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
    ;
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 2%;
    color: #f6f7eb;
    text-transform: uppercase;
    text-align: center;
}

/* home section - tablet media queries */
@media screen and (max-width: 1024px) {
    #hero-overlay h1 {
        font-size: 3em;
        text-align: center;
    }
}

/* home section - mobile media queries */
@media screen and (max-width: 500px) {
    #hero-overlay h1 {
        font-size: 1.5em;
    }
}



/* Services */

#services {
    background-color: #FFFFFF;
    padding-bottom: 50px;
}

#grid-services {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 50px;
    background-color: #FFFFFF;
    padding-top: 50px;
}

#grid-services p {
    width: 610px;
    text-align: justify;
}

#grid-services h2 {
    width: 650px;
    text-align: justify;
}

#staff-image {
    width: 650px;
    height: auto;
    border-radius: 20px;
}

#staff-cover {
    font-size: 20px;
    background-color: #f6f7eb;
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 610px;
}

#transport-image {
    width: 650px;
    height: 433;
    border-radius: 20px;
}


#transport-cover {
    font-size: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 610px;


    background-color: #f6f7eb;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}


.service-grid-item {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 650px;
    height: 433;
}


/* service section - laptop media queries */
@media screen and (max-width: 1400px) {
    #transport-image {
        width: 450px;
    }

    #staff-image {
        width: 450px;
    }

    #staff-cover {
        width: 410px;
        font-size: 1.2em;
    }

    #transport-cover {
        width: 410px;
        font-size: 1.2em;
    }

    #grid-services h2 {
        width: 410px;
        text-align: justify;
    }
    #grid-services p {
        width: 410px;
        text-align: justify;
    }

    .service-grid-item{
        width: 450px;
    }
    
    #grid-services {
        grid-gap: 10px;
    }
}

/* service section - tablet media queries */
@media screen and (max-width: 1024px) {
    #grid-services {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    #staff-cover {
        padding-top: 0%;
        font-size: 1em;
    }

    #transport-cover {
        padding-top: 0%;
        font-size: 1em;
    }
}

/* service section - mobile media queries */
@media screen and (max-width: 500px) {
    #grid-services {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    #staff-image {
        width: 300px;
        height: auto;
    }

    #staff-cover {
        padding: 5px;
        width: 280px;
        font-size: 0.7em;
    }

    #transport-image {
        width: 300px;
        height: auto;
    }

    #transport-cover {
        padding: 10px;
        width: 280px;
        font-size: 0.7em;
    }

    #grid-services h2 {
        width: 280px;
    }

    #grid-services p {
        width: 280px;
    }

    .service-grid-item{
        width: 300px;
    }
}


/* Career section */
#career {
    width: 100%;
    height: 900px;
    font-size: 20px;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #c6dabf;
}

#career-picture {
    display: flex;
    background-image: url('../images/career-img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    align-items: right;
    height: inherit;
    border-radius: 20px;
    margin-left: 10%;
}


.job {
    padding-left: 100px;
    width: 50%;
}

.job-req {
    padding-left: 50px;
}

/* Form */

input {

    padding: 5px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #13315c;
    border-radius: 4px;
}

textarea {
    width: 70%;
    box-sizing: border-box;
    border: 1px solid #13315c;
    border-radius: 4px;
}

input[type=submit] {
    padding: 10px 15px;
    background: #ccc;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input[type=file] {
    padding: 5px 10px;
    margin: 5px 0;
    border: none;
}

/* Set the same font for forms placeholders*/
textarea,
input[type=text],
input[type=file],
input[type=submit] {
    font-family: 'Cardo', serif;
}

.application-form-input::-webkit-input-placeholder {
    /* font-family: 'myFont', Arial, Helvetica, sans-serif; */
    font-family: 'Cardo', serif;
}

.application-form-input:-ms-input-placeholder {
    /* font-family: 'myFont', Arial, Helvetica, sans-serif; */
    font-family: 'Cardo', serif;
}

.application-form-input:-moz-placeholder {
    /* font-family: 'myFont', Arial, Helvetica, sans-serif; */
    font-family: 'Cardo', serif;
}

.application-form-input::-moz-placeholder {
    /* font-family: 'myFont', Arial, Helvetica, sans-serif; */
    font-family: 'Cardo', serif;
}

/* career section - mobile media queries */
@media screen and (max-width: 1024px) {
    #career {
        height: 830px;
    }

    #career-picture {
        display: none;
    }

    .job {
        padding-left: 5vh;
        font-size: 0.8em;
    }

    #message {
        columns: 30;
    }
}

@media screen and (max-width: 500px) {
    #career {
        height: 900px;
    }

    .job {
        font-size: 0.6em;
    }

}

/* Footer */
.container-footer {
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.container-footer div {
    /* padding: 10px; */
    color: #fafafa;
    background-color: #13315c;
    text-align: center;
    flex-grow: 1;
}

#contact {
    text-align: center;
}

#contact-details {
    font-size: 14px;
    padding: 5px;
}

#fallow-us {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    color: #fafafa;
    align-items: baseline;
    position: relative;
    padding: 20px;
}